:root {
    --dark-background: #181818;
    --light-background: #dadada;
}

.center {
    text-align: center;
}

#players-game-login table {
    margin: 0 auto;
}

/*
    Tournament
*/
#tournament-tree-wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

}

.tree-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
}

.tree-contest {
    display: flex;
    flex-direction: row;
    margin: 4px;
    justify-content: center;
}

.tree-tournament + .tree-tournament {
    padding-top: 16px;
    border-top: 1px solid black;
}

.tree-player {
    border: 1px solid var(--dark-background);
    padding: 4px;
}

.tree-player.tree-winner {
    background-color: var(--light-background)
}

/*
    New tournament
*/
#new-tournament-form ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

#new-tournament-form ul > li {
    margin: 8px 0;
}

#new-tournament-form ul label:hover, #new-tournament-form ul > li input[type=checkbox]:hover {
    cursor: pointer;
}

#new-tournament-form ul > li input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 0;
}

/*
    Highscores table
*/
#highscores-table thead tr {
    color: var(--light-background);
    background-color: var(--dark-background);
}

#highscores-table tbody tr:nth-child(even) {
    background-color: var(--light-background);
}

#highscores-table {
    text-align: center;
    border-spacing: 0;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

/*
    Input styles
*/
fieldset {
    border: none;
    background-color: var(--light-background);
    border-radius: 4px;
    padding: 0 0 8px;
    margin: 0 0 32px;
}

fieldset legend {
    color: var(--light-background);
    background-color: var(--dark-background);
    width: 100%;
    padding: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin: 0;
}

fieldset *:not(legend) {
    margin: 8px 16px;
}

fieldset input + input {
    margin-top: 8px;
}

fieldset .btn-group input[type=button] {
    margin: 0;
}

fieldset input[type=text], fieldset input[type=password] {
    display: block;
    width: calc(100% - 16 * 2px);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

input {
    font-family: 'Oswald', sans-serif;
    padding: 4px 8px;
}

/*
    Navigation styles
*/
.menu-wrapper {
    width: 100%;
    background-color: var(--dark-background);
    padding: 16px 0;
    margin-bottom: 32px;
}

nav, nav a {
    color: var(--light-background);
    font-size: large;
}

nav a {
    padding: 16px;
    text-decoration: none;
    transition: background-color 250ms;
}

nav a:hover {
    color: var(--dark-background);;
    background-color: var(--light-background);
}

nav .selected {
    color: var(--dark-background);
    background-color: #a3a3a3;
}

@media (max-width: 767px) {
    nav a {
        display: block;
    }
}

/*
    Game
*/
#contest-circles-game-name, #contest-crosses-game-name {
    font-size: x-large;
    padding: 4px 8px;
    transition: background-color 1s;
    margin-bottom: 24px;
}

.circle-turn #contest-circles-game-name {
    background-color: var(--dark-background);
    color: var(--light-background);
}

.cross-turn #contest-crosses-game-name {
    background-color: var(--dark-background);
    color: var(--light-background);
}

/*
    Tic-tac-toe SVG styles
*/
svg#ttt-game-desk {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    display: block;
}

svg.circle-turn rect.ttt-game-desk-bg:hover:not(.ttt-cross):not(.ttt-circle) {
    fill: url("#ttt-circle-hover");
    fill-opacity: 1;
}

svg.cross-turn rect.ttt-game-desk-bg:hover:not(.ttt-cross):not(.ttt-circle) {
    fill: url("#ttt-cross-hover");
    fill-opacity: 1;
}

svg rect.ttt-game-desk-bg.ttt-circle {
    fill: url("#ttt-circle");
    fill-opacity: 1;
}

svg rect.ttt-game-desk-bg.ttt-cross {
    fill: url("#ttt-cross");
    fill-opacity: 1;
}

svg rect.ttt-game-desk-bg {
    fill-opacity: 0;
}